 *.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/freeline/
../build
.project
.settings/
.classpath
app/.classpath
app/.project
app/.settings/
hwtxtreaderlib/.classpath
hwtxtreaderlib/.project
hwtxtreaderlib/.settings/
